
.container-complementos h1{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

.container-edicao{
    width: 100%;
}

.container-conteudo{
    display: flex;
    padding-left: 2rem;
}
.conteudoLeft{
    width: 35%;
}
.nomeFoto{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: .4rem;
}
.nomeFoto h2{
    font-size: large;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.precoQtd{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: 700;
}


/* Conteudo adicionais */

.conteudoRight{
    display: flex;
    flex-direction: column;
}

.titleAdicional{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100% ;
}


legend{
    background-color: #cacaca;
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}



.sabor img{
    width: 68px;
}

.sabor{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.opSabor{
    margin-top: 10px;
}
