.pagCheckout{
    height: calc(100vh - 50px);
}

.container-checkout{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 120px;
    background: rgba(255, 255, 150, 0.5);
    height: auto;
    overflow-x: hidden;
    
}

.container-checkout h1{
    font-size: xx-large;
    font-weight: 700;
}
.body-checkout{
    display: inline-flex;
    width: 100vw;
}

.body-checkout h2{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}



.dados-client{
    width: 50%;
    margin-left: 5px;
}

.forms-checkout{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    margin-top: 15px;
    justify-content: space-evenly;
    background-color: rgba(196, 6, 126, 0.4);
    border-radius: 15px;
    margin-right: 20px;
}
.formCliente{
    width: 100%;
    overflow-x: auto;
}

.forms-checkout label{
    font-size: large;
    font-weight: 500;
    color: #fff;
    font-weight: 800;
}

.forms-checkout input{
    width: 100%;
    max-width: 100%;
    color: #fff;
}

#rua{
    width: auto;
}

#nr{
    width: 100px;
}

#referencia{
    width: 100%;
    max-width: 100%;
}

#idCheckoutBtn{
    width: 100%;
    text-align: center;
}

#btnCheckout{
    width: 50%;
    font-size: x-large;
}

/* lista de itens */

.item-pedido{
    margin-right: 5px;
    width: 50%;
}

.listaItem{
    padding: 20px;
    gap: 30px;
    margin-top: 15px;
    justify-content: center;
    background-color: rgba(196, 6, 126, 0.4);
    border-radius: 15px;
    margin-left: 20px;
    color: #fff;
}


.listaItem img{
    width: 68px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5PX;
}

.complementos{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    width: 100%;
    gap: 10px;
}

.adicional{
    display:grid;
    grid-template-columns: 70px 70px ;
}