.header-Header img{
    margin-top: 10px;
    width: 54px;
    padding: auto;
    align-items: center;
    justify-content: center;

}
a:hover {
    background-color: #C4067D;
}

.header-Header{
    display: flex;
    position: fixed;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    width: 100%;
}

.header-Header .lupaInput{
    display: flex;
    align-items: center;
    width: 15%;
}

.header-Header .lupaInput img{
    width: 48px;
}

.header-Header .shopcar img{
    width: 32px;
}

.shopcar{
    display: flex;
    align-items: center;
}

.shopcar div{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.shopcar label{
    margin: 0 15px;
}