.ModalProd{
    width:auto;
    overflow-x: auto;
    height: 500px;
}
.ModalProd h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 700;
}

.imgProdIModal{
    width: 60px;
    margin: 5px 5px 0px 10px;
    
    
}

.modalContainer{
    display: flex;
    padding: 10px;
    background-color: #f7f7f7;   
}

.qtdPrice{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;   
}

.quantidade{
    display: inline-flex;
    align-items: center;
}

.descriptionModal{
    width: 100%;
}

.titleModal{
    font-weight: 700;
}

.priceOldModal{
    font-size: small;
    color: #000000b7;
}

.btnFooter{
    width: auto;
    display: flex;
    justify-content: center;

}

.btnFooter button{
    display: flex;
    justify-content: center;
    width: 250px;
}

.totSacola{
    text-align: center;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
